<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div class="row">
            <div *ngFor="let control of controls">
                <app-dynamic-form-control [control]="control" [form]="form"></app-dynamic-form-control>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid" data-toggle="modal" data-target="#myModal">Save</button>
            </div>
        </div>

    </form>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Saved the following data....</h4>
                </div>
                <div class="modal-body">
                    {{payLoad}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>