<div class="row">
  <div class="form-group col-md-4">
    <label for="sel1">Select a year:</label>
    <select class="form-control" id="sel1" (change)="onChangeYear()" [(ngModel)]="selectedYear">
      <option *ngFor="let year of allYears" [value]="year">{{year}}</option>
    </select>
  </div>
</div>
<form action="/action_page.php">
  
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>