<div [formGroup]="form">
    <div class="form-group col-md-4">
        <label [attr.for]="control.key">{{control.label}}</label><span *ngIf="control.required">*</span>
        <div [ngSwitch]="control.controlType">

            <input *ngSwitchCase="'textbox'" class="form-control" [formControlName]="control.key" [id]="control.key" [type]="control.type">

            <select [id]="control.key" *ngSwitchCase="'dropdown'" [formControlName]="control.key" class="form-control">
            <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
          </select>

        </div>
        <div class="alert alert-danger" *ngIf="dirtyOrTouched && !isValid" style="margin-top: 5px;">{{control.label}} is required</div>
    </div>



</div>